In [1]:
import pandas as pd #padans is used to access the matrics and vectors structure data.

In [2]:
data = pd.read_csv("salary_data.csv")  #assinging the dataset into the varaible data

In [3]:
data

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [4]:
Independent  = data[["YearsExperience"]] # assinging input data into indenpendent 
dependent = data[["Salary"]] #assinging output data into denpendent

In [5]:
Independent

    YearsExperience
0               1.1
1               1.3
2               1.5
3               2.0
4               2.2
5               2.9
6               3.0
7               3.2
8               3.2
9               3.7
10              3.9
11              4.0
12              4.0
13              4.1
14              4.5
15              4.9
16              5.1
17              5.3
18              5.9
19              6.0
20              6.8
21              7.1
22              7.9
23              8.2
24              8.7
25              9.0
26              9.5
27              9.6
28             10.3
29             10.5

In [9]:
#In the below line we are splitting dataset into training_set and test_set
#train_set is used create a model
#test_set is used to validate the model created.

from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(Independent,dependent,test_size=1/3,random_state=0)

In [10]:
print(X_train)

    YearsExperience
5               2.9
16              5.1
8               3.2
14              4.5
23              8.2
20              6.8
1               1.3
29             10.5
6               3.0
4               2.2
18              5.9
19              6.0
9               3.7
7               3.2
25              9.0
3               2.0
0               1.1
21              7.1
15              4.9
12              4.0

In [14]:
# model_creation

from sklearn.linear_model import LinearRegression
regressor= LinearRegression()
regressor.fit(X_train,Y_train)    # in this fit method bias and intercept value is stored

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [17]:
#viewing bias and intersepct value.
weight = regressor.coef_               # weight means distance between two data point
bais = regressor.intercept_          #bais means origin of the line

In [23]:
print("value for weight = ",weight)
print("value of bais= ",bais)

value for weight =  [[9345.94244312]]
value of bais=  [26816.19224403]

In [24]:
# here is the perdiction 
y_predict = regressor.predict(X_test)

In [26]:
#evalution metrics

from sklearn.metrics import r2_score 
R_score = r2_score(Y_test,y_predict)

In [27]:
#to save the model 

import pickle
filename= "final_model.sav"
pickle.dump(regressor,open(filename,"wb"))

In [29]:
#deploy the model

loaded_model = pickle.load(open("final_model.sav","rb"))

result = loaded_model.predict([[15]])              # passinf the value 15 to the predict the salary
print(result)

[[167005.32889087]]